@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    @apply sm:px-5;
    @apply lg:px-32;
  }

  section {
    @apply sm:px-5;
    @apply lg:px-32;
    scroll-snap-align: start;
  }
}

@layer components {
  .defPad {
    @apply sm:px-5;
    @apply lg:px-32;
  }
}

html {
  overflow-x: hidden;

  &.active {
    overflow-y: hidden;
  }
}

#__next {
  &.overlay-active {
    color: #fff;
    overflow-y: hidden !important;
    transition: 500ms;
  }
  transition: 500ms;
}

// These classes are temp
.idk {
  div {
    border-radius: 50%;
    border: solid #000;

    width: 20px;
    height: 20px;

    &.active {
      background: #000;
    }
  }
}

#overlay {
  overflow-x: hidden;
  top: 0;
  position: absolute;

  z-index: -1;
  transition: 400ms;

  .black {
    height: 33.33vh;
    width: 100vw;

    left: 0;
    transform: translateX(-100vw);
    transition: 500ms;

    &:nth-child(2) {
      transform: translateX(100vw);
      right: 0;
    }
  }

  nav {
    opacity: 0;
  }

  &.active {
    z-index: 40;
    transition: 500ms;
    opacity: 1;

    background: #000;
    transition-property: background;
    transition-delay: 300ms;

    .black {
      transform: translateX(0);
    }

    nav {
      opacity: 1;
    }
  }
}

@keyframes fade {
  0% {
    width: 100vw;
    height: 100vh;
    z-index: 40;
    opacity: 1;
  }

  100% {
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }
}

.Burger {
  height: 28px;
  width: 30px;
  transition: 300ms;
  position: relative;

  div {
    background: #000;
    height: 5px;
    width: 100%;
    position: absolute;

    &:nth-child(1) {
      top: 0;
      transition: 300ms;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      transition: 300ms;
    }

    &:nth-child(3) {
      bottom: 0;
      transition: 300ms;
    }
  }

  &.active {
    height: 28px;

    div {
      background: #fff;

      &:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: bottom left;
        transition: 300ms;
      }

      &:nth-child(2) {
        transform: translateX(100%);
        transition: 300ms;
        opacity: 0;
        width: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: top left;
        transition: 300ms;
      }
    }
  }
}

.Markdown {
  h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 1.3em;
    font-weight: bold;
  }

  p {
    line-height: 1.35;
    margin-bottom: 1rem;
    font-family: "Charter", serif;
  }
}
